<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="aplikasi_tokobuah_UAS_ABD.Properties.Settings.tokobuahConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=tokobuah;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="aplikasi_tokobuah_UAS_ABD.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>